extends home
block append head
  script(type='text/javascript', src='/static/js/ajaxform.js')
  script(type='text/javascript', src='/static/js/ajaxform-bootstrap.js')
  link(rel='stylesheet', href='/static/lib/datetimepicker/css/bootstrap-datetimepicker.min.css')
  script(type='text/javascript', src='/static/lib/moment.js')
  script(type='text/javascript', src='/static/lib/datetimepicker/js/bootstrap-datetimepicker.min.js')
  script(type='text/javascript').
    $('document').ready(function() {
      $('#due').datetimepicker({});
      forms.createtask.fields.due.getVal = function() {
        return this.field.data('DateTimePicker').date().toDate();
      };
    });

block projectNav
  - var urlBase = '/project/' + page.project.id + '-' + page.project.name;
  li: a(href=urlBase) About
  li: a(href=urlBase + '/members') Group Members
  li.active: a(href=urlBase + '/tasks') Tasks
  li: a(href=urlBase + '/events') Events

block projectContent
  h1 Create a Task
  hr
  form#createtask
    .form-group
      label.hidden-xs(for='name') Name for Task
      input.form-control#name(type='text', name='name', placeholder='Enter a name for your task')
    .form-group
      label.hidden-xs(for='description') Description for Task
      input.form-control#description(type='text', name='description', placeholder='Enter a short description of your task')
    .form-group
      label.hidden-xs(for='due') Deadline for Task
      input.form-control#due(type='text', name='due', placeholder='Enter the deadline of your task')
    .form-group
      button.btn.btn-default Create
