extends ../mainLayout
block head
  script(type='text/javascript', src='/static/js/ajaxform.js')
  script(type='text/javascript', src='/static/js/ajaxform-bootstrap.js')
block content
  .container
    .col-md-3
      h3 #{page.project.name}
      hr
      ul.nav.nav-pills.nav-stacked
        li: a(href='/project/' + page.project.id + '-' + page.project.name) About
        li: a(href='/project/' + page.project.id + '-' + page.project.name + '/members') Group Members
        li.active: a(href='/project/' + page.project.id + '-' + page.project.name + '/tasks') To Do
        li: a(href='/project/' + page.project.id + '-' + page.project.name + '/events') Events
    .col-md-9
      block projectContent
        if session && session.user && session.user.username === page.user.username
          h1 Create a Task
          hr
          form#createtask
            .form-group
              label.hidden-xs(for='name') Name for Task
              input.form-control#name(type='text', name='name', placeholder='Enter a name for your task')
            .form-group
              label.hidden-xs(for='description') Description for Task
              input.form-control#description(type='text', name='description', placeholder='Enter a short description of your task')
            .form-group
              button.btn.btn-default Create
