extends home
block append head
  script(type='text/javascript', src='/static/js/ajaxform.js')
  script(type='text/javascript', src='/static/js/ajaxform-bootstrap.js')
  link(rel='stylesheet', href='/static/lib/datetimepicker/css/bootstrap-datetimepicker.min.css')
  script(type='text/javascript', src='/static/lib/moment.js')
  script(type='text/javascript', src='/static/lib/datetimepicker/js/bootstrap-datetimepicker.min.js')
  script(type='text/javascript').
    $('document').ready(function() {
      $('#date').datetimepicker({});
      forms.createevent.fields.date.getVal = function() {
        return this.field.data('DateTimePicker').date().toDate();
      };
    });

block projectNav
  - var urlBase = '/project/' + page.project.id + '-' + page.project.name;
  li: a(href=urlBase) About
  li: a(href=urlBase + '/members') Group Members
  li: a(href=urlBase + '/tasks') Tasks
  li.active: a(href=urlBase + '/events') Events

block projectContent
  h1 Create an Event
  hr
  form#createevent
    .form-group
      label.hidden-xs(for='name') Name for Event
      input.form-control#name(type='text', name='name', placeholder='Enter a name for your event')
    .form-group
      label.hidden-xs(for='description') Description for Event
      input.form-control#description(type='text', name='description', placeholder='Enter a short description of your event')
    .form-group
      label.hidden-xs(for='date') Date and Time for Event
      input.form-control#date(type='text', name='date', placeholder='Click to enter your event\'s date and time.')
    .form-group
      label.hidden-xs(for='location') Location for Event
      input.form-control#location(type='text', name='location', placeholder='Enter the location of your event')
    .form-group
      button.btn.btn-default Create
