extends ../mainLayout
block head
  script(type='text/javascript', src='/static/js/ajaxform.js')
  script(type='text/javascript', src='/static/js/ajaxform-bootstrap.js')
  script(type='text/javascript').
    $('document').ready(function() {
      forms.createproject.onError(function(err){
        if (err.responseJSON.status == 'NOT_AUTHORIZED') {
          window.location.assign('/login');
        }
      });
    });
block content
  .container
    .col-md-3
      h3 #{page.user.username}
      hr
      ul.nav.nav-pills.nav-stacked
        li: a(href='/user/' + page.user.username) Profile
        li.active: a(href='/user/' + page.user.username + '/groups') Groups
        li: a(href='/user/' + page.user.username + '/projects') Projects
    .col-md-9
      block userContent
        if session && session.user && session.user.username === page.user.username
          h1 Create a Project
          hr
          form#createproject
            .form-group
              label.hidden-xs(for='name') Name for Project
              input.form-control#name(type='text', name='name', placeholder='Enter a name for your project')
            .form-group
              label.hidden-xs(for='description') Description for Project
              input.form-control#description(type='text', name='description', placeholder='Enter a short description of your project')
            .form-group
              button.btn.btn-default Create
