extends home

block append head
  script(type='text/javascript', src='/static/js/ajaxform.js')
  script(type='text/javascript', src='/static/js/ajaxform-bootstrap.js')

block groupNav
  - var urlBase = '/group/' + page.group.id + '-' + page.group.name;
  li: a(href=urlBase) About
  li: a(href=urlBase + '/members') Members
  li.active: a(href=urlBase + '/projects') Projects

block groupContent
  h1 Create a Project
  hr
  form#createproject
    .form-group
      label.hidden-xs(for='name') Name for Project
      input.form-control#name(type='text', name='name', placeholder='Enter a name for your project')
    .form-group
      label.hidden-xs(for='description') Description for Project
      input.form-control#description(type='text', name='description', placeholder='Enter a short description of your project')
    .form-group
      button.btn.btn-default Create
