doctype html
html
  head
    title= page.title
    link(rel='stylesheet', href='/static/lib/bootstrap/yeti/css/bootstrap.min.css')
    script(type='text/javascript' src='/static/lib/jquery/jquery-1.11.2.min.js')
    script(type='text/javascript' src='/static/lib/bootstrap/yeti/js/bootstrap.min.js')
    block head
  body
    block body
