extends layout
include ./include/forms.jade
block content
  .container
    .well.col-md-6
      h1 Create an account
      hr
      form#register(method='POST', action='/register')
        +validatedInput("text", "email", "Email", "Enter your email address", forms.register.data.email, forms.register.errors.email)
        +validatedInput("text", "username", "Username", "Choose a username", forms.register.data.username, forms.register.errors.username)
        +validatedInput("password", "password", "Password", "Enter password", forms.register.data.password, forms.register.errors.password)
        +validatedInput("password", "password2", "Confirm Password", "Confirm password", forms.register.data.password2, forms.register.errors.password2)
        +formErrors(forms.register.errors._form)
        .form-group
          button.btn.btn-default Register
    .well.col-md-5.col-md-offset-1
      h1 or Log in
      hr
      form#login(method='POST', action='/login')
        .form-group
          label.hidden-xs(for='username') Username or email
          input.form-control#username(type='text', name='username', placeholder='Enter username or email')= forms.login.data.username
        .form-group
          label.hidden-xs(for='password') Password
          input.form-control#password(type='password', name='password', placeholder='Enter password')
        +formErrors(forms.login.errors._form)
        .form-group
          button.btn.btn-default Login