extends layout
include ./include/forms.jade
block content
  .container
    .row
      div#header
      br
      p.text-center ______________________________________________
      h1.text-center GATEWAY
      h1.text-center PROJECT DESIGN	
      p.text-center ______________________________________________
      br
      .well.col-md-4.col-md-offset-4
        h1 Sign In
        hr
        form#login(method='POST', action='/login')
          .form-group
            label.hidden-xs(for='username')
              span.glyphicon.glyphicon-user &nbsp;
              span Username or Email
            input.form-control#username(type='text', name='username', placeholder='Username or Email')= forms.login.data.username
          .form-group
            label.hidden-xs(for='password') Password
            input.form-control#password(type='password', name='password', placeholder='Password')
          +formErrors(forms.login.errors._form)
          .form-group
            button.btn.btn-default Sign in
    .row
      .col-md-4.col-md-offset-4.text-center
        a(href='/register')
          p Create an account
