extends layout
include ./include/forms.jade
block content
  .container
    .well.col-md-6.col-md-offset-3
      h1 Create an account
      hr
      form#register(method='POST', action='/register')
        +validatedInput("text", "email", "Email", "Enter your email address", forms.register.data.email, forms.register.errors.email)
        +validatedInput("text", "username", "Username", "Choose a username", forms.register.data.username, forms.register.errors.username)
        +validatedInput("password", "password", "Password", "Enter password", forms.register.data.password, forms.register.errors.password)
        +validatedInput("password", "password2", "Confirm Password", "Confirm password", forms.register.data.password2, forms.register.errors.password2)
        +formErrors(forms.register.errors._form)
        .form-group
          button.btn.btn-default Register
    .col-md-3
      &nbsp;