extends layout

block content
 .container
    .row
      div#header
      br
      p.text-center ______________________________________________
      h1.text-center GATEWAY
      h1.text-center PROJECT DESIGN
      p.text-center ______________________________________________
 center
  if !session.user || session.user.username != page.user.username
    h1= page.user.username
  else
    h1= session.user.username
 .container
      .well.col-md-4.col-md-offset-4
        h1 Create A Group
        hr
        form#creategroup(method='POST', action='/users/#{page.user.username}')
          .form-group
            label.hidden-xs(for='name') Name for Group
            input.form-control#name(type='text', name='name', placeholder='Enter a name for your group')= forms.creategroup.data$
          .form-group
            label.hidden-xs(for='descrip') Description for Group
            input.form-control#descrip(type='text', name='descrip', placeholder='Enter a short description of your group')
          .form-group
            label.hidden-xs(for='slogan') Motto for Group
            input.form-control#slogan(type='text', name='slogan', placeholder='Enter the motto of your group')
          .form-group
            button.btn.btn-default Create
 .col-md-4.col-md-offset-4.text-center
      a(href='/logout') Logout
