extends layout

block content
  if !session.user || session.user.username != page.user.username
    h1= page.user.username
  else
    h1= session.user.username
    .container
      .well.col-md-6
        h1 Create a Group
        hr
        form#creategroup(method='POST', action='/users/#{page.user.username}')
          .form-group
            label.hidden-xs(for='name') Name for Group
            input.form-control#name(type='text', name='name', placeholder='Enter a name for your group')= forms.creategroup.data$
          .form-group
            button.btn.btn-default Create
    a(href='/logout') Logout