extends home
block append head
  script(type='text/javascript', src='/static/js/ajaxform.js')
  script(type='text/javascript', src='/static/js/ajaxform-bootstrap.js')
  script(type='text/javascript').
    $('document').ready(function() {
      forms.creategroup.onError(function(err) {
        if (err.responseJSON.status == 'NOT_AUTHORIZED') {
          window.location.assign('/login');
        }
      });
      forms.creategroup.onSuccess(function(res) {
        if (res.status == 0) {
          window.location.assign('/user/groups');
        }
      });
    });

block userNav
  - var urlBase = '/user/' + page.user.username;
  li: a(href=urlBase) Profile
  li.active: a(href=urlBase + '/groups') Groups
  li: a(href=urlBase + '/projects') Projects

block userContent
  if page.props.user_own
    h1 Create a Group
    hr
    form#creategroup
      .form-group
        label.hidden-xs(for='name') Name for Group
        input.form-control#name(type='text', name='name', placeholder='Enter a name for your group')
      .form-group
        label.hidden-xs(for='description') Description for Group
        input.form-control#description(type='text', name='description', placeholder='Enter a short description of your group')
      .form-group
        label.hidden-xs(for='slogan') Motto for Group
        input.form-control#slogan(type='text', name='slogan', placeholder='Enter the motto of your group')
      .form-group
        button.btn.btn-default Create
