extends home

block userNav
  li: a(href='/user/' + page.user.username) Profile
  li: a(href='/user/' + page.user.username + '/groups') Groups
  li.active: a(href='/user/' + page.user.username + '/projects') Projects

block userContent
  if session && session.user && session.user.username === page.user.username
    h1 Your Projects
    hr
    a.btn.btn-default(href='/user/projects/add') Create a project
    br
  else
    h1 #{page.user.username}'s Projects
    hr
  br
  if projects
    .panel.panel-default
      table.table
        tr
          th Name
          th Description
        each project in projects
          tr
            td: a(href='/project/' + project.id + '-' + project.name) #{project.name}
            td #{project.description}
  else
    p #{page.user.username} is not participating in any projects yet.
